<div class="row" data-toggle="appear">
  <!-- Row #1 -->
  <div class="col-6 col-xl-3">
    <a class="card block-link-shadow text-right" href="javascript:void(0)">
      <div class="block-content block-content-full clearfix">
        <div class="float-left mt-10 d-none d-sm-block">
          <i class="si si-users fa-3x text-body-bg-dark"></i>
        </div>
        <div class="font-size-h3 font-w600 js-count-to-enabled" data-toggle="countTo" data-speed="1000" data-to="1500">
          {{totalUsers()}}</div>
        <div class="font-size-sm font-w600 text-uppercase text-muted">Registered Users</div>
      </div>
    </a>
  </div>
  <div class="col-6 col-xl-3">
    <a class="card block-link-shadow text-right" href="javascript:void(0)">
      <div class="block-content block-content-full clearfix">
        <div class="float-left mt-10 d-none d-sm-block">
          <i class="si si-wallet fa-3x text-body-bg-dark"></i>
        </div>
        <div class="font-size-h3 font-w600"><span data-toggle="countTo" data-speed="1000" data-to="780"
            class="js-count-to-enabled">780</span></div>
        <div class="font-size-sm font-w600 text-uppercase text-muted">Votes</div>
      </div>
    </a>
  </div>
  <div class="col-6 col-xl-3">
    <a class="card block-link-shadow text-right" href="javascript:void(0)">
      <div class="block-content block-content-full clearfix">
        <div class="float-left mt-10 d-none d-sm-block">
          <i class="si si-envelope-open fa-3x text-body-bg-dark"></i>
        </div>
        <div class="font-size-h3 font-w600 js-count-to-enabled" data-toggle="countTo" data-speed="1000" data-to="15">15
        </div>
        <div class="font-size-sm font-w600 text-uppercase text-muted">LAST BLOOD PRESSURE</div>
      </div>
    </a>
  </div>
  <div class="col-6 col-xl-3">
    <a class="card block-link-shadow text-right" href="javascript:void(0)">
      <div class="block-content block-content-full clearfix">
        <div class="float-left mt-10 d-none d-sm-block">
          <i class="si si-users fa-3x text-body-bg-dark"></i>
        </div>
        <div class="font-size-h3 font-w600 js-count-to-enabled" data-toggle="countTo" data-speed="1000" data-to="4252">
          {{totalCandidate()}}</div>
        <div class="font-size-sm font-w600 text-uppercase text-muted">Candidates</div>
      </div>
    </a>
  </div>

  <!-- END Row #1 -->
</div>


<h2 class="content-heading">
  <button type="button" class="btn btn-sm btn-rounded btn-alt-secondary float-right">View More..</button>
  <i class="si si-users mr-5"></i> Doctors
</h2>

<div class="row items-push">
  <div class="col-md-6 col-xl-3">
    <div class="card block-rounded text-center">
      <div class="block-content block-content-full">
        <img class="img-avatar" src="assets/images/avatar2.jpg" alt="">
      </div>
      <div class="block-content block-content-full block-content-sm bg-body-light">
        <div class="font-w600 mb-5">Carol Ray</div>
        <div class="font-size-sm text-muted">Neuro Surgeon</div>
        <div class="text-warning">
          <i class="fa fa-fw fa-star"></i>
          <i class="fa fa-fw fa-star"></i>
          <i class="fa fa-fw fa-star"></i>
          <i class="fa fa-fw fa-star"></i>
          <i class="fa fa-fw fa-star"></i>
        </div>
      </div>
      <div class="block-content block-content-full">
        <a class="btn btn-sm btn-rounded btn-alt-success" href="javascript:void(0)">
          <i class="fa fa-plus mr-5"></i>Book
        </a>
        <a class="btn btn-sm btn-rounded btn-alt-secondary" href="javascript:void(0)">
          <i class="fa fa-user-circle mr-5"></i>View License
        </a>
        <a class="btn btn-sm btn-rounded btn-alt-secondary" href="javascript:void(0)">
          <i class="fa fa-star"></i>Rate
        </a>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-xl-3">
    <div class="card block-rounded text-center">
      <div class="block-content block-content-full">
        <img class="img-avatar" src="assets/images/avatar9.jpg" alt="">
      </div>
      <div class="block-content block-content-full block-content-sm bg-body-light">
        <div class="font-w600 mb-5">Jesse Fisher</div>
        <div class="font-size-sm text-muted">Gaenocologist</div>
        <div class="text-warning">
          <i class="fa fa-fw fa-star"></i>
          <i class="fa fa-fw fa-star"></i>
          <i class="fa fa-fw fa-star"></i>
          <i class="fa fa-fw fa-star"></i>
          <i class="fa fa-fw fa-star"></i>
        </div>
      </div>
      <div class="block-content block-content-full">
        <a class="btn btn-sm btn-rounded btn-alt-success" href="javascript:void(0)">
          <i class="fa fa-plus mr-5"></i>Book
        </a>
        <a class="btn btn-sm btn-rounded btn-alt-secondary" href="javascript:void(0)">
          <i class="fa fa-user-circle mr-5"></i>View License
        </a>
        <a class="btn btn-sm btn-rounded btn-alt-secondary" href="javascript:void(0)">
          <i class="fa fa-star"></i>Rate
        </a>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-xl-3">
    <div class="card block-rounded text-center">
      <div class="block-content block-content-full">
        <img class="img-avatar" src="assets/images/avatar9.jpg" alt="">
      </div>
      <div class="block-content block-content-full block-content-sm bg-body-light">
        <div class="font-w600 mb-5">David Fuller</div>
        <div class="font-size-sm text-muted">Optalmologist</div>
        <div class="text-warning">
          <i class="fa fa-fw fa-star"></i>
          <i class="fa fa-fw fa-star"></i>
          <i class="fa fa-fw fa-star"></i>
          <i class="fa fa-fw fa-star"></i>
          <i class="fa fa-fw fa-star"></i>
        </div>
      </div>
      <div class="block-content block-content-full">
        <a class="btn btn-sm btn-rounded btn-alt-success" href="javascript:void(0)">
          <i class="fa fa-plus mr-5"></i>Book
        </a>
        <a class="btn btn-sm btn-rounded btn-alt-secondary" href="javascript:void(0)">
          <i class="fa fa-user-circle mr-5"></i>View License
        </a>
        <a class="btn btn-sm btn-rounded btn-alt-secondary" href="javascript:void(0)">
          <i class="fa fa-star"></i>Rate
        </a>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-xl-3">
    <div class="card block-rounded text-center">
      <div class="block-content block-content-full">
        <img class="img-avatar" src="assets/images/avatar2.jpg" alt="">
      </div>
      <div class="block-content block-content-full block-content-sm bg-body-light">
        <div class="font-w600 mb-5">Lisa Jenkins</div>
        <div class="font-size-sm text-muted">Cardiologist</div>
        <div class="text-warning">
          <i class="fa fa-fw fa-star"></i>
          <i class="fa fa-fw fa-star"></i>
          <i class="fa fa-fw fa-star"></i>
          <i class="fa fa-fw fa-star"></i>
          <i class="fa fa-fw fa-star"></i>
        </div>
      </div>
      <div class="block-content block-content-full">
        <a class="btn btn-sm btn-rounded btn-alt-success" href="javascript:void(0)">
          <i class="fa fa-plus mr-5"></i>Book
        </a>
        <a class="btn btn-sm btn-rounded btn-alt-secondary" href="javascript:void(0)">
          <i class="fa fa-user-circle mr-5"></i>View License
        </a>
        <a class="btn btn-sm btn-rounded btn-alt-secondary" href="javascript:void(0)">
          <i class="fa fa-star"></i>Rate
        </a>
      </div>
    </div>
  </div>
</div>
